body {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1, p {
    color: #fff;
    margin: 0px;
}

p {
    font-size: 14px;
}

.container-icons {
    display: flex;
    gap: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg {
    height: 52px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-galeria {
  display: grid;
  place-items: center;
  width: 300px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 400px;
}

.contenedor-imagen {
  position: relative;
  left: 0;
  width: 80px;
  border-radius: 5px;
  height: 450px;
  overflow: hidden;
  background-color: #efefef;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
  flex: 0.25;
}

.contenedor-imagen img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.contenedor-imagen:hover {
  flex: 2;
  cursor: pointer;
  border-radius: 8px;
}
